<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="ic_launcher-web.png"  alt="">
                <a class="navbar-brand" href="#page-top">TRAXI</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">¿Qué es Traxi?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Descarga</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Deja un comentario</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="logo.png" alt="">
                    <div class="intro-text">
                        <!-- <span class="name">Start Bootstrap</span> -->
                        <hr class="star-light">
                        <span class="skills">CÓDIGO.CDMX</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>¿Qué es Traxi?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <p>Es una app que te auxilia en a la hora de tomar un taxi del Distrito Federal (DF), al ingresar la placa de un taxi, se te mostrarán los datos del vehículo, un termómetro de confianza, si tiene adeudos en alguna secretaría (SETRAVI,SEDEMA,FINANZAS), además de mostrarte comentarios  y calificaciones de otras personas que ya tomaron ese taxi. </p>
                    <p>
                    Traxi cuenta con un botón de pánico que puedes activar en caso de que te sientas amenazado o activar una opción para que  te envíe mensajes para saber si te encuentras bien durante el viaje. </p>
                    <p>
                    Traxi también es un asistente de viaje ya que va mostrando en un mapa tu avance en el taxi y al poner un destino de viaje te da una posible ruta, el tiempo y distancia que te falta para llegar a tu destino.</p>
                   
                    <p>
                      Buscamos fomentar el uso de taxis legales, que cumplan con sus obligaciones y que den un buen trato a los usuarios.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Descarga Traxi</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal13"   data-toggle="modal" >
                        <div class="caption">
                        </div>
                        <img  src="google_play.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                        </div>
                    
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3"  data-toggle="modal">
                        <div class="caption">
                        </div>
                        <img src="iphone.png" class="img-responsive" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </section>



    <section class="success" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contactanos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <%= render 'comments/form' %>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Código CDMX</h3>
                        <p>Tlaxcoaque 8
                            <br>Ciudad de México</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>En la web</h3>
                        <ul class="list-inline">
                          
                            <li><a href="https://plus.google.com/u/0/communities/115849919570212562284" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li><a href="https://twitter.com/TraxiCDMX" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                     
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Acerca de Traxi</h3>
                        <p>Traxi es una aplicación de código abierto, puedes colaborar, reportar problemas o cualquier otra cosa en el <a href="https://github.com/LabPLC/Traxi">Github de Traxi</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Código CDMX - 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->



