// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notice {
  font-size: 3em;
color: white;
height: 100px;
border-radius: 50px;
text-align: center;
padding: 60px;
}
